.text-main-color {
    color: #0caa41;
}

.bg-main-color {
    background-color: #0caa41;
}
.font-awesome {
    font-family: FontAwesome;
}

.banner {
    height: 100px;   
    background-image: linear-gradient(to right, #0c7164 , #019d41);
 
}

.profile {
    width: 70px;
    height: 70px;
    background-image: url("person_icon.png");
    background-repeat: no-repeat;
    background-size:cover;

}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }